body{
  display: flex;
  flex-direction: column;
  margin: auto;
}
main{
  min-height: 100vh;
  display: flex;
}
.topNavigation{
  height:85px;
  width:1920px;



}
.sideNavigation{
  width: 250px;
  text-align: center;
  background-color: white;
  color: #fff;
}
.content{
  flex: 1;
  background-color: #eee;
  text-align: center;
}

.box1{
  width: auto;
  height: 50px;
  background-color: #828282;
  border-style: solid;
  border-width: 1px;
  border-color: #646464;
}
.box2{
  width: auto;
  height: 60px;
  background-color: #828282;
  border-style: solid;
  border-width: 1px;
  border-color: #646464;
  font-size: 30px;
  color: black;
  text-align: left;
}
.box3{
  width: auto;
  height: 200px;
  margin-top: -30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-style: solid;
  border-color: #646464;
  border-radius: 10px;
}
.box4{
  width: auto;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  border-style: solid;
  border-color: #646464;
  border-radius: 10px;
}
.home_b{
  width: 100%;
  height:56px;
  border: 0;
  background: none;
  font-size: 37px;
  color: black;
  border-bottom: solid black;
  outline: none;
  padding-left: 75px;
}
.home_b_img{
  width: 45px;
  height: 40px;
  position: relative;
  top: 8px;
  right: 170px;
}
.home_b:hover{
  background: #646464;
  color: white;
}
.attendance_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: black;
  outline: none;
}
.attendance_b:hover{
  background: #646464;
  color: white;
}
.maru{
  width:100px;
  height:100px;
    color: black;
    border: solid black 2px;
}
.student_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: black;
  outline: none;
}
.student_b:hover{
  background: #646464;
  color: white;
}
.teacher_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: black;
  outline: none;
}
.teacher_b:hover{
  background: #646464;
  color: white;
}
.class_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: black;
  outline: none;
}
.class_b:hover{
  background: #646464;
  color: white;
}
.classwork_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: black;
  outline: none;
}
.classwork_b:hover{
  background: #646464;
  color: white;
}
.classroom_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: black;
  outline: none;
}
.classroom_b:hover{
  background: #646464;
  color: white;
}
.subject_b{
  width: 100%;
  border: 0;
  background: none;
  font-size: 30px;
  color: black;
  outline: none;
}
.subject_b:hover{
  background: #646464;
  color: white;
}
.buttonWrapper{
  display: block;
  position: relative;
  text-align: right;
  bottom: 45px;
}
.Registration_b{
  width: 140px;
  height: 60px;
  border: 0;
  background-color: none;
  background-color: #323232;
  font-size: 37px;
  color: black;
  outline: none;
  text-align: right;
  border-radius: 10px;
}
.Registration_b_img{
  width: 45px;
  height: 40px;
  position: relative;
  bottom: 45px;
  right: 75px;
  outline: none;
}
.Registration_b:hover{
  background: #646464;
  color: white;
}
.graduate_b{
  width: 210px;
  height: 60px;
  border: 0;
  background-color: none;
  background-color: #323232;
  font-size: 37px;
  color: black;
  outline: none;
  text-align: right;
  border-radius: 10px;
  margin-left: -9px;
}
.graduate_b_img{
  width: 45px;
  height: 40px;
  position: relative;
  bottom: 45px;
  right: 150px;
  outline: none;
}
.graduate_b:hover{
  background: #646464;
  color: white;
}
.logout_b{
  width: 250px;
  height: 70px;
  border: 0;
  background-color: none;
  background-color: #323232;
  font-size: 30px;
  color: black;
  outline: none;
  border-radius: 10px;
  position: relative;
  left:1650px;
  top:14px;
}
.logout_b_img{
  width:57px;
  height:57px;
  position: relative;
  left: 9px;
  top:14px;
  outline: none;
}
.logout_b:hover{
  background: #646464;
  color: white;
}

table{
  width: 100%;
}
th{
  background-color: white;
  color: black;
  text-align: center;
}
th:first-child{
  border-right: 1px solid black;
}
td{
  background-color: white;
  color: black;
  text-align: left;
}
td:first-child{
  border-right: 1px solid black;
}
ol.topic-path {
margin: 0; /* マージン（上下左右） */
padding: 14px 5px; /* パディング（上下、左右） */
background-color: #f9f9f9; /* 背景色 */
list-style-type: none; /* リストマーク非表示 */
font-size: 100%; /* 文字サイズ */
  float: left;
}
/* リスト項目 */
ol.topic-path li {
padding-left: 5px; /* 左パディング */
display: inline; /* 項目を横並び */
}
/* リスト項目（最初の項目） */
ol.topic-path li.first {
padding-left: 25px; /* 左パディング */
background: url(../image/topic-path-home-gray.png) no-repeat left; /* ホーム記号（※） */
}
/* リンクエリア */
ol.topic-path li a {
padding-right: 18px; /* 右パディング */
background: url(../image/topic-path-gray.gif) no-repeat right; /* 矢印記号（※） */
}
/* リンク色 */
ol.topic-path li a {
color: #4682b4;
}
/* リンク色（マウスオーバー） */
ol.topic-path li a:hover {
color: #79a7cc;

div.hid{
  width: 200px;
  height: 100px;
  overflow: hidden;
  background-color: #FF9999;
}
.radius2 {
  width: auto;
  height:50px;
margin-left: 10px;
margin-right: 10px;
margin-top: 100px;
  background-color: white;

}
